body{
    background:#2980b9;
    min-height: 100vh;
    padding:50px;
}

//by nie bylo marginesow za duzych
h2{
    margin:0;
}


//kolor kart
$todoBG:#bdc3c7;


//stylowanie karty do dodawania nowych kart
.newCardRow{
    >.input-group{
        left:50%!important;
        transform: translateX(-50%);
        text-align: center;
        }
}


//todoGroup zawiera w sobie karte
.todoGroup{  
    //stylizowanie karty
    .todoCard{
        margin-top: 10px;
        background: $todoBG;
        padding:10px 10px 10px 10px;
        border-radius:10px;
        
    } 
    //formularz dodawania nowego todo do karty
    .addNewToDo{
        //aby nie nadpisalo polozenia input-group
        .input-group{
            left:0;
        }
        padding:5px;
        text-align: center;
        position:relative;
        //delikatne przejscia
        transition: all 0.3s;
        //zmiana koloru po najechaniu
        &:hover{
            background-color:lighten($todoBG,5%);
        }
        //zmiana kursora
        strong{
            cursor: pointer;
        }
        //wielkosc inputow i przyciskow
        input,button{
            width:100%;
            margin-top: 10px;
            }
        //zaokraglenia form
        .form-control{
            border-radius:10px;
            padding:10px;
        }
    }
    //stylizowanie listy todo w karcie
    ul{
        padding-left: 0;
        li{
            position:relative;
            //delikatne przejscia
            transition: all 0.3s;
            &:hover{
                transform: scale(1.05);
            }
            i{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                font-size:20px;
            }
            
            p{
                margin:0;
            }
            .fa-check{
                right: 30px;
                color:green;
                &:hover{
                    color:lighten(green,25%);
                }
            }
            .fa-times{
                right: 5px;
                color:red;
                &:hover{
                    color:darken(red,25%);
                }
            }
            list-style: none;
            background: #ecf0f1; 
            padding:5px 10px;
            padding-right: 30px;
            margin-bottom: 10px;
            border-radius:10px;
        }
    }
}




// Wyrownanie kart todo aby nie przeskakiwaly

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}